BasedOnStyle: Google

Language: Cpp
Standard: Auto

IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2

# AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  PadOperators: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: AcrossComments
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Empty

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: MultiLine

BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '[-_]private\.h(pp)?"$'
    Priority: 0
  - Regex: '\.hpp"$'
    Priority: 1
  - Regex: '\.h"$'
    Priority: 2
  - Regex: '^["<]Arduino.h[">]$'
    Priority: 3
  - Regex: '^<.*\.h>$'
    Priority: 4
  - Regex: '^<.*'
    Priority: 5
  - Regex: '.*'
    Priority: 6

IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: AfterHash

QualifierAlignment: Custom
QualifierOrder: ['restrict', 'inline', 'constexpr', 'volatile', 'static', 'const', 'type']
SortUsingDeclarations: LexicographicNumeric
SortUsingDeclarations: true

SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
